@{
    ViewBag.Title = "About";
}
<br />
<br />
<h3>Adiba Ahsan - CSE 7th - 180101015</h3>
<h3>MAhfuzul Haque - CSE 7th - 180101017</h3>
<h3>Najmun Nahar Oishi - CSE 7th - 180101036</h3>

<br />
<br />
<center>
    <p>Know More About Developer -</p>
    <br />
    <input type="Name"  placeholder="Enter Your Name"/>
    <br /><br />
    <input type="email" placeholder="Enter Your Email"/>
    <br /><br />
    <p>From BAUST</p><input type="checkbox" placeholder="From BAUST"/>
    <br />
    <p>From OUTSIDE</p><input type="checkbox" placeholder="Outsider" />
    <br />
    <button><a href="https://mahfuztajnim001.wixsite.com/my-site">Submit</a></button>

</center>

