@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Bangladesh Army University Of Science & Technology</h3>
    <p class="lead">BAUST</p>
    <p><a href="https://localhost:44380/tblUsers/Index" class="btn btn-primary btn-lg">VIEW CSE 7 list &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Admission</h2>
        <p>
            We have students coming from different backgrounds, cultures, and nationalities as well. More than 500 international students are enrolled in various programs.
        </p>
        <p><a class="btn btn-default" href="https://baustact.web.app/Admission/admission.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Programs</h2>
        <p>We are offering 36 undergraduate and graduate programs under 25 departments. Our curriculum is designed to help the students to develop the skills required for 21st-century employment.</p>
        <p><a class="btn btn-default" href="https://baustact.web.app/Admission/admission.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tusion fee</h2>
        <p>We offer affordable tuition fees for students with the option to pay them in multiple installments to create convenience for students.</p>
        <p><a class="btn btn-default" href="https://baustact.web.app/Admission/admission.html">Learn more &raquo;</a></p>
    </div>
</div>